// @function fallback($setting, $color) {
//   @if not $setting or $setting == "" {
//     @return $color;
//   } @else {
//     @return $setting;
//   }
// }

$item-height: 40px;
$icon-opacity: 0.7;


  .menu-content {
    //background: fallback($Menu_background, $secondary);
    padding-left: 3%;
    display: flex;
    align-items: center;
    // justify-content: if($Invert_position == "true", flex-end, flex-start);
  }

  .menu-items {
    display: flex;
    height: $item-height;
  }

  .menu-item {
    position: relative;

    &:hover,
    &:active,
    &:focus {
     
      color: var(--primary-high);
      cursor: pointer;
      .d-icon-caret-right {
        transform: rotate(90deg);
      }
      .d-header-dropdown {
        display: block;
        top: $item-height;
        left: 0;
        z-index: z("header") + 1;
        //border-top: 6px solid #83b059;

        .rtl & {
          left: unset;
          right: 0;
        }
      }

      // @if $Invert_position == "true" {
      //   &:last-child {
      //     .d-header-dropdown {
      //       left: unset;
      //       right: 0;

      //       .rtl & {
      //         right: unset;
      //         left: 0;
      //       }
      //     }
      //   }
      // }
    }

    .d-icon-caret-right {
      margin-left: 0.25em;
      transition: transform 0.15s ease-in-out;

      .rtl & {
        margin-left: 0em;
        margin-right: 0.25em;
      }
    }
  }

  .d-header-dropdown {
    position: relative;
    display: none;
  }

  .d-dropdown-menu {
    min-width: 120px;
    background: #f1f4f6;
    opacity: 1;
    box-shadow: shadow("menu-panel");
    // box-shadow: 0px 3px 5px -1px #ccc;
    //padding-top: 20px;
    margin: 0px;
    list-style: none;
  }

  .submenu-link {
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--primary-high);
    padding: 0.5rem 1.5rem;
    // padding-left: 15px;
  
    font-size: $font-down-1;
    white-space: nowrap;
    transition: all 0.5s ease;

    &:hover {
      color: #83b059!important;
      transition: all 0.3s ease;
      padding-left: 25px;
      border-left: 4px solid #83b059;
      background-color: #f3f7fa;
    }
  }

  .d-icon {
    opacity: $icon-opacity;
    min-width: 1em;
    &:not(.d-icon-caret-right) {
      margin-right: 0.5em;

      .rtl & {
        margin-right: 0;
        margin-left: 0.5em;
      }
    }
  }

// common
.nav__toggle-label {
  display: none; 
  --bars-vertical-offset: 7px;
  padding: var(--bars-vertical-offset) 0;
  align-items: center;
  cursor: pointer;
}

.nav__toggle-label:hover.nav__toggle-label span,
.nav__toggle-label:hover.nav__toggle-label span::before,
.nav__toggle-label:hover.nav__toggle-label span::after{
  background-color: rgb(157, 149, 149);
}

.nav__toggle:checked ~ .nav__toggle-label span,
.nav__toggle:checked ~ .nav__toggle-label span::before,
.nav__toggle:checked ~ .nav__toggle-label span::after {
  background-color: rgb(157, 149, 149);
}

.nav__toggle:checked ~ .menu-items {
  transform: scaleX(0);
}

.nav__toggle:checked ~ .nav__toggle-label span::before{
  transform: translateX(10px) rotate(20deg);
}

.nav__toggle-label span,
.nav__toggle-label span::before,
.nav__toggle-label span::after {
  display: block;
  background-color: var(--primary);
  width: 1.5em;
  height: 3px;
  position: relative;
  border-radius: 2px;
  transition: ease 250ms;
}

.nav__toggle-label span::before,
.nav__toggle-label span::after {
  content: '';
  position: absolute;
}

.nav__toggle-label span::before {
  bottom: var(--bars-vertical-offset);
}

.nav__toggle-label span::after {
  top: var(--bars-vertical-offset);
}

.nav__toggle {
  display: none;
}

@media screen and (max-width: 800px) {

  .menu-items {
    position: absolute;
    display: flex;
    background-color: white;
    flex-direction: column;
    height: fit-content;
    width: 30vw;
    top: 100%;
    right: 0;
    transform: scaleX(1);
  }

  .menu-item {
    color: var(--primary-high);
    display: flex;
    align-items: center;
    white-space: nowrap;
    &:hover,
    &:active,
    &:focus {
     
      color: var(--primary-high);
      cursor: pointer;
      .d-icon-caret-right {
        transform: rotate(90deg);
      }
      .d-header-dropdown {
        display: block;
        top: $item-height;
        left: 0;
        z-index: z("header") + 1;
        .rtl & {
          left: unset;
          right: 0;
        }
      }
    }

    .d-icon-caret-right {
      margin-left: 0.25em;
      transition: transform 0.15s ease-in-out;

      .rtl & {
        margin-left: 0em;
        margin-right: 0.25em;
      }
    }
  }

  .d-header-dropdown {
    position: relative;
    display: none;
  }

  .nav__toggle-label {
    display: block;
  }
}

  // desktop



// burger menu (mobile)

