$item-height: 40px;
$icon-opacity: 0.7;

.menu-content {
  padding-left: 3%;
  display: flex;
  align-items: center;
}

.menu-items {
  display: flex;
  height: $item-height;
  a {
    display: block !important;
  }
}

.menu-item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .d-icon-caret-right {
    margin-left: 0.25em;
    transition: transform 0.15s ease-in-out;
    .rtl & {
      margin-left: 0em;
      margin-right: 0.25em;
    }
  }
  &:hover,
  &:active,
  &:focus {
    color: var(--primary-high);
    cursor: pointer;
    > .d-icon-caret-right {
      transform: rotate(90deg);
    }
    .d-header-dropdown {
      display: block;
      top: 1.5rem;
      left: 0;
      z-index: z("header") + 1;
      .rtl & {
        left: unset;
        right: 0;
      }
    }
  }
}

.menu-item {
  position: relative;
  color: var(--primary-high);
  border: none;
  padding: 0 0.5em;
  font-size: $font-0;
  transition: all 0.15s;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.d-header-dropdown {
  position: absolute;
  display: none;
}

.d-dropdown-menu {
  min-width: 120px;
  background: #f1f4f6;
  opacity: 1;
  box-shadow: shadow("menu-panel");
  margin: 0px;
  list-style: none;
  flex-direction: column;
  display: flex;
  align-items: start;
}

.submenu-link {
  display: flex;
  align-items: center;
  color: var(--primary-high);
  padding: 0.5rem 1.5rem;
  font-size: $font-down-1;
  white-space: nowrap;
  transition: all 0.5s ease;
}

.submenu-item {
  &:hover .submenu-link{
    color: #83b059 !important;
    transition: all 0.3s ease;
    transform-origin: left;
    // padding-left: 25px;
    border-left: 4px solid #83b059;
    background-color: #f3f7fa;
  }
}

.d-icon {
  opacity: $icon-opacity;
  min-width: 1em;
  &:not(.d-icon-caret-right) {
    margin-right: 0.5em;

    .rtl & {
      margin-right: 0;
      margin-left: 0.5em;
    }
  }
}

li.submenu-item {
  width: 100%;
}
li.submenu-item.hasChildren {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:hover .d-header-dropdown.innermost-dropdown,
  &:focus-within .d-header-dropdown.innermost-dropdown,
  &:active .d-header-dropdown.innermost-dropdown {
      display: block;
  }
  &:hover .d-icon-caret-right,
  &:focus-within .d-icon-caret-right,
  &:active .d-icon-caret-right {
    transform: rotate(90deg);
  }
  .d-header-dropdown.innermost-dropdown {
    transform: translateY(-20px) translateX(calc(100% + 19px));
    background-color: #f1f4f6;
    display: none;
    ul.d-dropdown-submenu {
      list-style-type: none;
      margin-left: 0;
      text-align: left;
      li.innermost-menu-item {
        &:hover {
          color: #83b059 !important;
          transition: all 0.3s ease;
          border-left: 4px solid #83b059;
          background-color: #f3f7fa; 
          a {
            color: #83b059 !important;
          }
        }
        a {
          padding: .5rem 1.5rem;
        }
      }
    }
  }
}

// common
.nav__toggle-label {
  display: none;
  --bars-vertical-offset: 7px;
  padding: var(--bars-vertical-offset) 0;
  align-items: center;
  cursor: pointer;
  margin-bottom: 0px;
  margin-right: 10px;
}

.menu-items.menu-items-open {
  transform: scaleX(1) translateX(-50%);
  transition: ease-in-out 0.25s;
  transform-origin: left;
}

.nav__toggle-label span,
.nav__toggle-label span::before,
.nav__toggle-label span::after {
  display: block;
  background-color: var(--header_primary-low-mid);
  width: 1.5em;
  height: 3px;
  position: relative;
  border-radius: 2px;
  transition: ease 250ms;
}

.nav__toggle-label span::before,
.nav__toggle-label span::after {
  content: "";
  position: absolute;
}

.nav__toggle-label span::before {
  bottom: var(--bars-vertical-offset);
}

.nav__toggle-label span::after {
  top: var(--bars-vertical-offset);
}

.nav__toggle-label--active span,
.nav__toggle-label--active span::before,
.nav__toggle-label--active span::after {
  background-color: var(--primary);
}

// .nav__toggle {
//   display: none;
// }

@media screen and (max-width: 850px) {
  .menu-items {
    padding: 2rem;
    padding-top: 1rem;
    position: absolute;
    display: flex;
    gap: 0.75rem;
    background-color: white;
    flex-direction: column;
    height: fit-content;
    width: 90vw;
    top: 100%;
    left: 50%;
    transform: scaleX(0) translateX(-50%);
    transition: ease-in-out 0.3s;
    transform-origin: left;
  }

  .menu-item-wrapper .hasSubCategories {
    position: relative;
    .d-icon-caret-right {
      position: absolute;
      top: 0;
      right: 0;
      margin-left: 0.25em;
      transition: transform 200ms ease-in-out;
      cursor: pointer;
    }
    .menu-item {
      color: var(--primary-high);
      display: block;
      white-space: nowrap;
      padding: 0;
      .d-header-dropdown {
        display: block;
        visibility: hidden;
        transform-origin: top;
        height: 0;
        position: relative;
        transform: scaleY(0);
        transition: 0.15s ease-in-out;
        top: 1rem;
      }
    }

    &:hover,
    &:active,
    &:focus-within {
      color: var(--primary-high);
      cursor: pointer;
      .d-icon-caret-right {
        transform: rotate(90deg);
        .rtl & {
          margin-left: 0em;
          margin-right: 0.25em;
        }
      }
      .d-header-dropdown {
        top: 8px;
        left: 0;
        z-index: z("header") + 1;
        height: auto;
        visibility: visible;
        transform: scaleY(1);
        .rtl & {
          left: unset;
          right: 0;
        }
      }
    }
  }
  
  .nav__toggle-label {
    display: block;
  }
}

.some-wrapper {
  display: flex;
  align-items: center;
}

.some-wrapper .subscribe-for-member {
  display: block;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px !important;
  font-weight: 700;
  margin-left: 7px;
  padding: 6px 10px;
  box-sizing: border-box;
  display: block;
  color: #fff;
  background-color: var(--tertiary);
}

.activity-nav.action-list.nav-stacked {
  display: flex;
  > li > a {
      padding-left: 0;
  }
}

.user-content-wrapper {
  display: block;
}

.row.setting.category-list {
  display: block;
}

