$item-height: 40px;

.nav__toggle-label:hover.nav__toggle-label span,
.nav__toggle-label:hover.nav__toggle-label span::before,
.nav__toggle-label:hover.nav__toggle-label span::after {
  background-color: var(--primary);
}


.top-menu {
  .menu-item.vmo {
    display: none;
  }
}
